body {
  background-color: rgb(248, 248, 248);
  font-family: 'American Typewriter', sans-serif;
}

/* Homepage */
.home-page{
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin:auto;
}

.homepage-image{
  display:flex;
  align-items: center;
  justify-content: center;
  width: max(200px, min(60%, 500px));
  height: auto;
  padding: 20px;
}

.homepage-start{
  background-color: white;
  width: max(200px, min(80%, 800px));
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.homepage-title{
  color: #007bff;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0;
}


.score-title{
  color: #007bff;
  font-size: 1.4rem;
  font-weight: 600;
  padding-top: 10px;
}

/* Table */
.table-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
}

.score-table {
  width: 100%;
  border-collapse: collapse;
}

.score-table-header {
  background-color: #333;
  color: #fff;
}

.score-table-row {
  border-bottom: 1px solid #ddd;
}

.score-table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.score-table td,
.score-table th {
  padding: 0.5rem;
  text-align: center;
  border-right: 1px solid #ddd;
}

.score-table td:first-child, .score-table th:first-child {
  border-left: 1px solid #ddd;
}
.score-table td:last-child, .score-table th:last-child {
  border-right: 1px solid #ddd;
}

.score-winrate{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* End Table */

/* End Home Page */


.progress-bar {
  background-color: #ffffff;
  border: 1px solid #007bff;
  width: 100%;
  margin-left: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-fill {
  background-color: #007bff;
  height: 100%;
  width: 0%;
  transition: width 0.5s ease-in-out;
}

h1, h2, h3{
  text-align: center;
}

.center {
  display: block;
  margin: auto;
}

.container{
  width:384px;
  height:216px;
}

.btn-primary {
  background: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background: #fff;
  color: #007bff;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  background-color: rgb(248, 248, 248);
  color: #333;
  text-align: center;
}

.header-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.header-nav {
  display: flex;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgb(95, 95, 95);
  border-top: #fff;
  border-radius: 0 0 10px 10px;
}

.header-nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #333;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.header-nav-link:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgb(75, 182, 84);
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-row {
  text-align: center;
}

.color-shift-button {
  background: rgb(245, 145, 145);
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.5s;
}

.color-shift-button:hover::after {
  content: " TOUT DE SUITEEEEE !!!";
}

.color-shift-button:hover {
  background: linear-gradient(to right, #fadadd, #ffd6e7, #e0f2f1, #b2dfdb, #80cbc4, #4db6ac, #26a69a, #00bcd4, #00acc1, #9fa8da, #7986cb, #5c6bc0, #3f51b5, #3949ab);
  background-size: 300% 300%;
  animation: color-shift 1s ease-in-out infinite;
}

@keyframes color-shift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.red{
  color:crimson;
}

.create-question:hover::after {
  content: " Nouvelle question";
}

.btn-questions{
  width: 500px;
  margin-top: 1rem;
}

.right{
  display: block;
  margin-left: 90%;
}

.margin-top{
  margin-top: 4px;
}

.form-column{
  flex-direction: column;
  text-align: center;
}

.form-column input{
  margin-left:auto;
  margin-right:auto;
  margin-top:4px;
  margin-bottom:4px;
}

.side{
  display:block;
  margin-top: 10px;
}

.margin-element{
  margin-left: 4px;
  margin-right: 4px;
}

p{
  margin-top: 6px;
  margin-bottom: 0;
}

input:invalid {
  border: 3px solid red;
  border-radius: 5px;
}

.selected {
  background-color: red;
}

.timebar {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 70%; /* Initial width of the timebar */
  height: 20px; /* Height of the timebar */
  background-color: #ffffff;
  border: 1px solid #007bff;
  border-radius: 10px;
  overflow: hidden;
}
.timebar-fill {
  width: 100%;
  height: 20px;
  background-color: #007bff;
}

.question-display{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 4%;
}

.container-question{
  display: grid;
  grid-template-rows: 0.2fr 0.8fr;
  width: 70%;
  height: 350px;
  border-radius: 20px;
}

.row-question{
  display: grid;
  justify-content: center;
  grid-template-columns: 0.7fr 1.3fr;
  height: 80%;
}

.image-question{
  margin:auto;
  margin-left: 50px;
  margin-right: 20px;
  width: 200px;
  height: 200px;
}

.square-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.rounded-borders {
  border-radius: 5%;
}

.text-question{
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
  height: 200px;
}

.question{
  margin: auto;
  color:#535353;
}

.wrapper {
  display: grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(2,1fr);
  grid-gap: 10px;
  background-color: #fff;
  margin: auto;
}


.question-heading{
  display: block;
  text-align: center;
  margin: auto;
  padding: 20px;
}

.question-title{
  margin: auto;
  font-size: 1.3rem;
  line-height: 0.5;
  font-weight: 600;
  color:#2a75ff;
}

@media only screen and (max-width: 800px) {
  .row-question{
    grid-template-columns: 1fr; /* change the direction of the flex container */
    grid-template-rows: auto auto;
    grid-row-gap: 20px;

  }
  .image-question{
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
    height: 30vw;
  }
  .container-question{
    display: grid;
    grid-template-rows: 0.2fr 0.8fr;
    width: 70%;
    height: 500px;
    border-radius: 20px;
  }
  .question{
    margin: auto;
    text-align: center;
  }
}